.widgetLg{
    flex:2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:1.5rem;
    margin:1.5rem;
    background-color: #FFEEE8;
}

.widgetLgTitle{
    font-size:1.5rem;
    font-weight:bold;
}

.widgetLgContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 2rem 0;
    justify-content: center;

}

.customerImg{
    width:40px;
    height: 40px;
    cursor:pointer;
    border-radius: 50%;
    object-fit: cover;
    margin-right:0.5rem;
}




.customerInfoContainer{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 1rem 0;
}


.grid-column-item{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.dateContainer{
    padding: 1.65rem 0;
}

.amtContainer{
    padding: 1.65rem 0;
}

.statusContainer{
    padding:1.35rem 0;
}

.widgetLgButton {
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
  }
  
  .widgetLgButton.Approved{
      background-color: #e5faf2;
      color: #3bb077;
  }
  .widgetLgButton.Declined{
      background-color: #fff0f1;
      color: #d95087;
  
  }
  .widgetLgButton.Pending{
      background-color: #ebf1fe;
      color: #2a7ade;
  
  }