.userList{
    flex:4;
}

.userListImg{
    width:40px;
    height: 40px;
    cursor:pointer;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.5rem;

}

.userListUser{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}


.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #53AEA5;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.userListEdit:hover{
  background-color: #83C5BE;
}

.userListDelete{
    color: red;
    cursor: pointer;
}